.App {
  text-align: center;
}
.body {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.main_row {
  flex: 1;
}
.actions_bar {
  display: flex;
  justify-content: flex-start;
}
.col {
  padding-bottom: 10px;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #dfdede;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}
.dark-mode {
  background-color: black;
  color: white;
}
